
<div class="container">
    <div class="row profile"  ng-controller ="adminProfileController">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{userSession.username}}
					</div>
					<div class="profile-usertitle-job">
						Admin
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a ng-click="displayDashPage('adminDashboard')">
							<i class="glyphicon glyphicon-home"></i>
							Dashboard </a>
						</li>							

						<li>
							<a ng-click="displayCatPage('createCategory')">
							<i class="glyphicon glyphicon-ok"></i>
							Create Category </a>
						</li>
						
						<li>
							<a ng-click="displayDeleteCatPage('deleteCategory')">
							<i class="glyphicon glyphicon-ok"></i>
							Delete Category </a>
						</li>
						
						<li>
							<a ng-click="displayPage('updateCategory')">
							<i class="glyphicon glyphicon-ok"></i>
							Update Category </a>
						</li>
						
						
						<li>
							<a ng-click="displaySubCategoryAddPage('createSubCategory')">
							<i class="glyphicon glyphicon-ok"></i>
							Create Sub Category </a>
						</li>
						
						<li>
							<a ng-click="displaySubCategory('deleteSubCategory')">
							<i class="glyphicon glyphicon-ok"></i>
							Delete Sub Category </a>
						</li>						

						<li>
							<a ng-click="displayPage('updateSubCategory')">
							<i class="glyphicon glyphicon-ok"></i>
							Update Sub Category </a>
						</li>
						
					
						<li>
							<a ng-click="displayAdminAddPlanPage('addProduct')">
							<i class="glyphicon glyphicon-ok"></i>
							Add Product</a>
						</li>
						
						
						<li>
							<a ng-click="displayPage('deleteProduct')">
							<i class="glyphicon glyphicon-ok"></i>
							Delete Product</a>
						</li>
						
						<li>
							<a ng-click="displayPage('updateProduct')">
							<i class="glyphicon glyphicon-ok"></i>
							Update Product</a>
						</li>	
	
												
						<li>
							<a ng-click="displayPolicyBrandPage('viewSeller')">
							<i class="glyphicon glyphicon-ok"></i>
							View Seller </a>
						</li>
						
						<li>
							<a ng-click="displayPolicyPlanPage('productList')">
							<i class="glyphicon glyphicon-ok"></i>
							Product List</a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
            <div  ng-if="gotopage=='default'" ng-include="'adminpages/adminDashbord.html'"></div>
            <div  ng-if="gotopage=='adminDashboard'" ng-include="'adminpages/adminDashbord.html'"></div>
   			 <div  ng-if="gotopage=='createCategory'" ng-include="'adminpages/createCategory.html'"></div>
   			 <div  ng-if="gotopage=='deleteCategory'" ng-include="'adminpages/deleteCategory.html'"></div>
   			 <div  ng-if="gotopage=='updateCategory'" ng-include="'adminpages/addProduct.html'"></div>
   			 <div  ng-if="gotopage=='createSubCategory'" ng-include="'adminpages/createSubCategory.html'"></div>
   			 <div  ng-if="gotopage=='deleteSubCategory'" ng-include="'adminpages/deleteSubCategory.html'"></div>
   			 <div  ng-if="gotopage=='updateSubCategory'" ng-include="'adminpages/sellerProductDelete.html'"></div>
   			 <div  ng-if="gotopage=='addProduct'" ng-include="'adminpages/addPolicyPlan.html'"></div>
   			 <div  ng-if="gotopage=='deleteProduct'" ng-include="'adminpages/sellerProductList.html'"></div>
   			 <div  ng-if="gotopage=='updateProduct'" ng-include="'adminpages/sellerProductUpdate.html'"></div>
   			 <div  ng-if="gotopage=='viewSeller'" ng-include="'adminpages/updateSellerList.html'"></div>
   			 <div  ng-if="gotopage=='productList'" ng-include="'adminpages/adminPlanList.html'"></div>
    

            </div>
		</div>
	</div>
</div>